/* CSS SON TODO REGLAS DE ESTILO */
/* 1. Nombre del elemento
2. Apertura y cierre de llaves
3. Propiedades a tutiplen */
#title {
    background-color: beige;
}

#descripcion {
    background-color: rgb(217, 255, 0);
    display: inline-block;
    padding: 10px;
    border-style: dashed;
    border-radius: 18%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
}
#card{
    border: 1px black solid;
    display: inline-block;
    margin-left: 41.5%;
    margin-right: 40%;
    padding: 20px;
}
#cardHeaderImg{
    width: 250px;
    height: 170px;
}
.pCard{
    border: 1px black solid;
}
#cardContainer{
    align-items: center;
    display: block;
}
